<section class="about_section layout_padding mt-5 mb-5">
  <div class="container  ">
    <div class="row">
      <div class="col-md-6 ">
        <div class="img-box">
          <img src="assets/images/about-img.png" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              A propos de nous
            </h2>
          </div>
          <p>
            Le drive d’à côté est né d’un constat d’une équipe n’ayant jamais le temps de passé faire leurs courses chez tous leurs commerçants de proximité. Le but a été de mettre en place un drive qui permettrait aux clients de pouvoir récupérer toute leur commande chez un seul de leur commerçant de proximité.
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end about section -->

