<header class="header_section">
  <div class="container">
    <nav class="navbar navbar-expand-lg custom_nav-container ">
      <a routerLink="/ecommerce/" class="navbar-brand" href="">
        <span>Floram</span>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class=""> </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  ml-auto">
          <li class="nav-item active">
            <a routerLink="/home" class="nav-link" href="">Accueil<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a routerLink="/about" class="nav-link" href="">Qui somme nous ?</a>
          </li>
          <li class="nav-item">
            <a routerLink="/product" class="nav-link" href="">Produit</a>
          </li>

          <li class="nav-item">
            <a routerLink="/contact" class="nav-link" href="">Contact</a>
          </li>
          <li class="nav-item">
            <a routerLink="/panier" class="nav-link" href="">Panier</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>
<!-- info section -->

<section class="info_section ">
  <div class="info_container ">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="info_contact ">
            <div class="row">
              <div class="col-md-3">
                <a href="#" class="link-box">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <span>
                      Location
                    </span>
                </a>
              </div>
              <div class="col-md-5">
                <a href="#" class="link-box">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <span>
                      Call +01 1234567890
                    </span>
                </a>
              </div>
              <div class="col-md-4">
                <a href="#" class="link-box">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <span>
                      demo@gmail.com
                    </span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5  col-lg-3 mx-auto">
          <div class="info_form ">
            <form action="#">
              <input type="email" placeholder="Enter Your Email" />
              <button>
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="info_logo">
        <a class="navbar-brand" href="index.html">
            <span>
              Floram
            </span>
        </a>
      </div>
      <div class="social-box">
        <a href="">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-youtube" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- footer section -->
<footer class="footer_section">
  <div class="container">
    <p>
      &copy; <span id="displayYear"></span> All Rights Reserved By Rooki industry
    </p>
  </div>
</footer>
<!-- footer section -->
